@media (max-width: 767px) {
    body .header-container img {
        height: 200px;
    }
    body h2 {
        font-size: calc(16px + 10 * ((100vw - 320px) / 680));
        padding-top: 0px;
    }
    body p, li {
        font-size: calc(9px + 10 * ((100vw - 320px) / 680));
    }
    body .body-content {
        margin: 20px auto;
    }
    body #navbar-about a {
        font-size: calc(7px + 10 * ((100vw - 320px) / 680));       
        padding: 0 5px;
    }
    body #row-about {
        padding: 5px 0;
    }
    body .nav-text {
        display: none !important;
    }
}

@media (min-width: 768px) and (max-width: 1200) {
    body .header-container img {
        height: 200px !important;
    }
    body p, li {
        font-size: calc(16px + 10 * ((100vw - 320px) / 680));
    }
}

.circle {
    cursor: pointer;
}
.header-container {
	position: relative;
}
.header-container img {
	object-fit: cover;
	object-position: 40% 40%;
	height: 350px;
	width: 100vw;
}
#header-text {
	position: absolute;
	top: 60%;
	left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22pt;
}
#row-about {
	background-color: var(--orange);
	margin: auto;
    text-align: center;
	font-size: 14pt;
}
#navbar-about a:not(:last-child) {
	border-right: 1px solid #ffffff;
}
#navbar-about a {
    padding: 0 15px;
}

h2 {
	color: var(--orange);
	font-size: 20pt;
	text-transform: uppercase;
	padding-top: 20px;
}

.subheader {
	font-size: 8pt;
}
#awards-list {
	list-style-type: none;
	padding: 0;
}

.body-content {
	width: 80%;
	margin: 30px auto;
	font-size: 12pt;
	color: #464646;
}

.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    opacity: .63;
    background-color: grey;
    background-clip: padding-box;

    transition: opacity 0.6s ease;
    position: fixed;
    top: 23%;
    right: 14px;
    z-index: 1;    
    -webkit-transition: 0.5s ease-out;
    -moz-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
}
.circle:after {
    content: '';
    position: absolute;
    left: -17px;
    top: 17px;
    width: 0;
    height: 0;
    background-color: red;

}

.about.circle { top: 30%; }
.histo.circle { top: 37%; }
.vm.circle { top: 44%; }
.comp.circle { top: 51%; }
.values.circle { top: 58%; }
.awards.circle { top: 65%; }

.about.circle.active { 
    background-color: var(--orange);
    color: var(--orange); }
.about.circle.active:after { background-color: var(--orange); }
.histo.circle.active { 
    background-color: var(--red); 
    color: var(--red); }
.histo.circle.active:after { background-color: var(--red); }
.vm.circle.active { 
    background-color: var(--yellow); 
    color: var(--yellow); }
.vm.circle.active:after { background-color: var(--yellow); }
.comp.circle.active { 
    background-color: var(--green); 
    color: var(--green); }
.comp.circle.active:after { background-color: var(--green); }
.values.circle.active { 
    background-color: var(--main-color); 
    color: var(--main-color); }
.values.circle.active:after { background-color: var(--main-color); }
.awards.circle.active { 
    background-color: var(--yellow); 
    color: var(--yellow); }
.awards.circle.active:after { background-color: var(--yellow); }

.cursor { cursor: pointer; }
.inactive { font-size: 0px !important; }
.nav-text {
    font-weight: bold;
    display: inline-block;
    width: 300px;
    font-size: 10pt;
    position: absolute;
    right: 20px;
    text-align: right;
    color: #9EFFBC;
    text-shadow: 0px 0px 1px #BDBDBD;
}
.nav-text {
    color: inherit;
}